.game-layout {
  padding: 40px 0;
}

.game-header {
  display: flex;
  margin: 0 0 20px;
  align-items: center;
  color: #fff;

  &__replay-button {
    background: transparent;
    border: 0;
    cursor: pointer;
    opacity: 0.85;
    font-weight: 600;
    padding: 7px 10px;
    outline: none;
    transition: opacity 0.3s ease-out;

    &:disabled {
      opacity: 0.3;
      transition: none;
      pointer-events: none;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__score {
    margin-left: auto;
    font-size: 12px;
    padding: 7px 10px;
    color: #c0d3c4
  }
}

.field {
  list-style: none;
  margin: 0;
  padding: 0;

  width: 650px;
  height: 650px;
  display: grid;
  grid-gap: 10px;
  grid-template: repeat(6, 1fr) / repeat(6, 1fr);
}