.result-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;

  &__string {
    color: #fff;
    margin: 20px 0;
    text-align: center;
  }
}